<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li [routerLinkActive]="'mm-active'">
                    <a [routerLink]="['/admin/usuarios']" class="waves-effect" [routerLinkActive]="'active'">
                        <div class="d-inline-block icons-sm mr-1"><i class="uim uim-airplay"></i></div>
                        <span>Usuarios</span>
                    </a>
                </li>

                <li [routerLinkActive]="'mm-active'">
                    <a [routerLink]="['/admin/productos']" class=" waves-effect" [routerLinkActive]="'active'">
                        <div class="d-inline-block icons-sm mr-1"><i class="uim uim-grids"></i></div>
                        <span>Productos</span>
                    </a>
                </li>

                <li [routerLinkActive]="'mm-active'">
                    <a [routerLink]="['/admin/sucursales']" class=" waves-effect" [routerLinkActive]="'active'">
                        <div class="d-inline-block icons-sm mr-1"><i class="uim uim-box"></i></div>
                        <span>Sucursales</span>
                    </a>
                </li>



            </ul>

        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->